@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* Global Styles */
::-webkit-scrollbar {
	display: none;
}

.primary-bg {
	@apply bg-indigo-100 duration-500;
}
.dark .primary-bg {
	@apply bg-gray-800;
}

.task-item {
	transform: translateY(0);
	transition: all 0.17s ease;
}
.task-item:hover {
	transform: translateY(-2px);
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}
.dark .task-item:hover {
	box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}
.start-timer {
	@apply bg-green-500 dark:bg-green-600 hover:bg-green-600 dark:hover:bg-green-700
}
.stop-timer {
	@apply bg-red-600 dark:bg-red-700 hover:bg-red-700 dark:hover:bg-red-800
}
.input-focus {
	@apply focus:outline-none focus:ring-2 focus:ring-blue-500;
}

.dropdown-item {
	@apply block cursor-pointer w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600;
}

.fade-in {
	animation: fadeIn 0.5s ease-in-out;
}
.fade-out {
	animation: fadeOut 0.5s ease-in-out;
}
.show {
	animation: showAnimation 0.3s ease-in-out;
}

.checkbox-custom {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #d1d5db;
	border-radius: 4px;
	outline: none;
	position: relative;
	cursor: pointer;
	transition: all 0.3s ease;
}

.checkbox-custom:checked {
	background-color: #3b82f6;
	border-color: #3b82f6;
}

.checkbox-custom:checked::after {
	content: '✓';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 12px;
	font-weight: bold;
}

.dark .checkbox-custom {
	border-color: #6b7280;
}

.dark .checkbox-custom:checked {
	background-color: #3b82f6;
	border-color: #3b82f6;
}

.progress-bar {
	transition: width 0.5s ease;
}

.loader {
	border: 4px solid #3b83f6;
	border-left-color: transparent;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	animation: spin 1s linear infinite;
}

/* Animation's */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes showAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
